@{
    ViewBag.Title = "Index Page";
}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        pantalla = document.getElementById("screen");
    }
</script>
<script src="~/app-assets/js/core/libraries/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
     $(document).ready(function () {
       Activar();
       //var pIdLinea = 0;
       //if ($('#IdLinea').val() != "")
       //    pIdLinea = $('#IdLinea').val();
         $.ajax({
             type: 'GET',
             url: '@Url.Action("Views", "Home")',
             dataType: 'json',
             data: {},
             success: function (data) {
                 var newHtml = '';
                 var i;
                 $("#llenar_T1").empty();

                 for (i = 0; i < data.length; i++) {
                     var pattern = /Date\(([^)]+)\)/;
                     //var results = pattern.exec(data[i].INICIO);
                     //var dt = new Date(parseFloat(results[1]));
                     //var INICIO = dt.toLocaleTimeString();

                     var trailerNumber = 0;
                     if (data[i].trailerNumber != null)
                         trailerNumber = data[i].trailerNumber;

                     var releaseMaterial_1 = false;
                     if (data[i].releaseMaterial != null)
                         releaseMaterial_1 = data[i].releaseMaterial;

                     var color_1_1 = 'gray';
                     if (releaseMaterial_1)
                         color_1_1 = 'green';

                     var materialOnTheWay_1 = false;
                     if (data[i].materialOnTheWay != null)
                         materialOnTheWay_1 = data[i].materialOnTheWay;

                     var color_1_2 = 'gray';
                     if (materialOnTheWay_1)
                         color_1_2 = 'green';

                     var mixedMaterial_1 = false;
                     if (data[i].mixedMaterial != null)
                         mixedMaterial_1 = data[i].mixedMaterial;

                     var color_1_3 = 'gray';
                     if (mixedMaterial_1)
                         color_1_3 = 'green';

                     var reqTrailerExchange_1 = false;
                     if (data[i].reqTrailerExchange != null)
                         reqTrailerExchange_1 = data[i].reqTrailerExchange;

                     var color_1_4 = 'gray';
                     if (reqTrailerExchange_1)
                         color_1_4 = 'green';

                     var fillingLevel_1 = 0;
                     if (data[i].fillingLevel != null)
                         fillingLevel_1 = data[i].fillingLevel;

                     var code_1 = "";
                     if (data[i].code != null)
                         code_1 = data[i].code;

                     var material = 0;
                     if (data[i].material != null)
                         material = data[i].material;

                     var tolva = 0;
                     if (data[i].tolva != null)
                         tolva = data[i].tolva;

                     newHtml = CreaHTML(code_1, color_1_1, color_1_2, color_1_3, color_1_4, fillingLevel_1, trailerNumber, material, tolva);

                     if (trailerNumber == 1) {
                         if (material != '0') $('#T1').addClass('badge-success'); else $('#T1').removeClass('badge-success');
                         $('#llenar_T1').html(newHtml);
                     } else if (trailerNumber == 2) {
                         if (material != '0') $('#T2').addClass('badge-success'); else $('#T2').removeClass('badge-success');
                         $('#llenar_T2').html(newHtml);
                     } else if (trailerNumber == 3) {
                         if (material != '0') $('#T3').addClass('badge-success'); else $('#T3').removeClass('badge-success');
                         $('#llenar_T3').html(newHtml);
                     } else if (trailerNumber == 4) {
                         if (material != '0') $('#T4').addClass('badge-success'); else $('#T4').removeClass('badge-success');
                         $('#llenar_T4').html(newHtml);
                     } else if (trailerNumber == 5) {
                         if (material != '0') $('#T5').addClass('badge-success'); else $('#T5').removeClass('badge-success');
                         $('#llenar_T5').html(newHtml);
                     } else if (trailerNumber == 6) {
                         if (material != '0') $('#T6').addClass('badge-success'); else $('#T6').removeClass('badge-success');
                         $('#llenar_T6').html(newHtml);
                     }

                 }
                 Desactivar();
             },
             error: function (ex) {
                 Desactivar();
                 var r = jQuery.parseJSON(response.responseText);
                 alert("Message: " + r.Message);
                 alert("StackTrace: " + r.StackTrace);
                 alert("ExceptionType: " + r.ExceptionType);
             }
         });




     });

    setInterval('refrescar()', 1800000);

    function refrescar() {
        Activar();
       //var pIdLinea = 0;
       //if ($('#IdLinea').val() != "")
       //    pIdLinea = $('#IdLinea').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Views", "Home")',
            dataType: 'json',
            data: {},
                success: function (data) {
                    var newHtml = '';
                    var i;
                    $("#llenar_T1").empty();

                    for (i = 0; i < data.length; i++) {
                        var pattern = /Date\(([^)]+)\)/;
                        //var results = pattern.exec(data[i].INICIO);
                        //var dt = new Date(parseFloat(results[1]));
                        //var INICIO = dt.toLocaleTimeString();

                        var trailerNumber = 0;
                        if (data[i].trailerNumber != null)
                            trailerNumber = data[i].trailerNumber;

                        var releaseMaterial_1 = false;
                        if (data[i].releaseMaterial != null)
                            releaseMaterial_1 = data[i].releaseMaterial;

                        var color_1_1 = 'gray';
                        if (releaseMaterial_1)
                            color_1_1 = 'green';

                        var materialOnTheWay_1 = false;
                        if (data[i].materialOnTheWay != null)
                            materialOnTheWay_1 = data[i].materialOnTheWay;

                        var color_1_2 = 'gray';
                        if (materialOnTheWay_1)
                            color_1_2 = 'green';

                        var mixedMaterial_1 = false;
                        if (data[i].mixedMaterial != null)
                            mixedMaterial_1 = data[i].mixedMaterial;

                        var color_1_3 = 'gray';
                        if (mixedMaterial_1)
                            color_1_3 = 'green';

                        var reqTrailerExchange_1 = false;
                        if (data[i].reqTrailerExchange != null)
                            reqTrailerExchange_1 = data[i].reqTrailerExchange;

                        var color_1_4 = 'gray';
                        if (reqTrailerExchange_1)
                            color_1_4 = 'green';

                        var fillingLevel_1 = 0;
                        if (data[i].fillingLevel != null)
                            fillingLevel_1 = data[i].fillingLevel;

                        var code_1 = "";
                        if (data[i].code != null)
                            code_1 = data[i].code;

                        var material = 0;
                        if (data[i].material != null)
                            material = data[i].material;

                        var tolva = 0;
                        if (data[i].tolva != null)
                            tolva = data[i].tolva;

                        newHtml = CreaHTML(code_1, color_1_1, color_1_2, color_1_3, color_1_4, fillingLevel_1, trailerNumber, material, tolva);

                        if (trailerNumber == 1) {
                            if (material != '0') $('#T1').addClass('badge-success'); else $('#T1').removeClass('badge-success');
                            $('#llenar_T1').html(newHtml);
                        } else if (trailerNumber == 2) {
                            if (material != '0') $('#T2').addClass('badge-success'); else $('#T2').removeClass('badge-success');
                            $('#llenar_T2').html(newHtml);
                        } else if (trailerNumber == 3) {
                            if (material != '0') $('#T3').addClass('badge-success'); else $('#T3').removeClass('badge-success');
                            $('#llenar_T3').html(newHtml);
                        } else if (trailerNumber == 4) {
                            if (material != '0') $('#T4').addClass('badge-success'); else $('#T4').removeClass('badge-success');
                            $('#llenar_T4').html(newHtml);
                        } else if (trailerNumber == 5) {
                            if (material != '0') $('#T5').addClass('badge-success'); else $('#T5').removeClass('badge-success');
                            $('#llenar_T5').html(newHtml);
                        } else if (trailerNumber == 6) {
                            if (material != '0') $('#T6').addClass('badge-success'); else $('#T6').removeClass('badge-success');
                            $('#llenar_T6').html(newHtml);
                        }

                    }
                    Desactivar();
                },
                error: function (ex) {
                    Desactivar();
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
        });
    }

    function CreaHTML(code, color_1, color_2, color_3, color_4, fillingLevel, trailerNumber, material, tolva) {
        var newHtml = '';
        newHtml = '<tr>'
        newHtml += ' <td colspan="2" style"width:100%;">'
        newHtml += '    <table id="T' + trailerNumber.toString() + '" width="100%" ' + (material != "0" ? 'class="badge-success"' : '') + '>'
        newHtml += '        <tr>'
        newHtml += '            <td colspan="2" align="center" ><center><strong>' + tolva + '</strong></center></td>';
        newHtml += '        </tr>';
        newHtml += '        <tr>'
        newHtml += '            <td colspan = "2" align = "center" > <b>material type</b></td>';
        newHtml += '        </tr>';
        newHtml += '        <tr>'
        newHtml += '            <td colspan="2" align="center" valign="top" height="20px">' + code + '</td>';
        newHtml += '        </tr>';
        newHtml += '    </table>'
        newHtml += ' </td>'
        newHtml += '</tr>';
        ////////////////////newHtml = '<tr>'
        ////////////////////newHtml += '    <td colspan = "2" align = "center" > <b>material type</b></td>';
        ////////////////////newHtml += '</tr>';
        ////////////////////newHtml += '<tr>';
        ////////////////////newHtml += '    <td colspan="2" align="center" valign="top" height="20px">' + code + '</td>';
        ////////////////////newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td colspan="2"><b>state:</b></td>';
        newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td>';
        newHtml += '        <img src="../../SCRAPConveyor/app-assets/images/icon/circle-fill-' + color_1 + '.svg" />';
        newHtml += '    </td>';
        newHtml += '    <td>&nbsp;release material</td>';
        newHtml += '</tr>';
        newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td>';
        newHtml += '        <img src="../../SCRAPConveyor/app-assets/images/icon/circle-fill-' + color_2 + '.svg" />';
        newHtml += '    </td>';
        newHtml += '    <td>&nbsp;material on the way</td>';
        newHtml += '</tr>';
        newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td>';
        newHtml += '        <img src="../../SCRAPConveyor/app-assets/images/icon/circle-fill-' + color_3 + '.svg" />';
        newHtml += '    </td>';
        newHtml += '    <td>&nbsp;mixed material</td>';
        newHtml += '</tr>';
        newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td>';
        newHtml += '        <img src="../../SCRAPConveyor/app-assets/images/icon/circle-fill-' + color_4 + '.svg" />';
        newHtml += '    </td>';
        newHtml += '    <td>&nbsp;req. trailer exchange</td>';
        newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td height="10px"></td>';
        newHtml += '</tr>';
        newHtml += '<tr>';
        newHtml += '    <td colspan="2" align="center">filling level ' + fillingLevel + '[%]</td>';
        newHtml += '</tr>';
        return newHtml;
    }

</script>
<div class="content-wrapper">
    <div id="contenido" class="content-body">

        <div class="col-xl-12 " style="position: relative;color: black;top: -20px">

            <div class="table-responsive" style="overflow:hidden">
                <!-- table start -->
                <div class="row">
                    <div class="col-1" style="position: relative; top: 10px; left:10px; ">
                        <form method="get" action="@Url.Action("History", "Home")">
                            <button class="btn btn-primary ">Historial</button>
                        </form>
                    </div>
                    <div class="col-10">
                        <table id="table-marketing-campaigns" class="tablebgimage" style="width:942px;height:665px;" border="0">
                            <thead>
                                <tr style="height:513px;">
                                    <th colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:43px;height:108px;"></td>
                                    <td style="width: 117px; background-color: white !important; border: solid silver 1px!important;" height="100%" valign="top">
                                        <table width="100%" style="margin:1px;" border="0">
                                            <tbody id="llenar_T1">
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:29px;"></td>
                                    <td style="width: 117px; background-color: white !important; border: solid silver 1px !important;" valign="top">
                                        <table width="100%" style="margin:1px;" border="0">
                                            <tbody id="llenar_T2">
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:30px;"></td>
                                    <td style="width: 117px; background-color: white !important; border: solid silver 1px !important;" valign="top">
                                        <table width="100%" style="margin:1px;" border="0">
                                            <tbody id="llenar_T3">
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:36px;"></td>
                                    <td style="width: 117px; background-color: white !important; border: solid silver 1px !important;" valign="top">
                                        <table width="100%" style="margin:1px;" border="0">
                                            <tbody id="llenar_T4">
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:33px;"></td>
                                    <td style="width: 117px; background-color: white !important; border: solid silver 1px !important;" valign="top">
                                        <table width="100%" style="margin:1px;" border="0">
                                            <tbody id="llenar_T5">
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:37px;"></td>
                                    <td style="width: 117px; background-color: white !important; border: solid silver 1px !important;" valign="top">
                                        <table width="100%" style="margin:1px;" border="0">
                                            <tbody id="llenar_T6">
                                            </tbody>
                                        </table>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- table ends -->
            </div>




        </div>
    </div>
</div>
<script>
    @*var IdLinea = "" + @ViewBag.IdLinea;
    if (IdLinea != 0)
        document.getElementById("IdLinea").value = IdLinea;*@
</script>



