.tablebgimage {    
    background-image: url('../images/pages/bg-cajas-trailers.jpg');
    margin:auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 2px solid steelblue;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    position: relative;
    animation: spin 3s linear infinite forwards;
}

    .loader::before,
    .loader::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border-top: 2px solid inherit;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    .loader::before {
        top: 7px;
        left: 7px;
        width: 178px;
        height: 178px;
        border-top: 2px solid tomato;
        animation: spin 2s linear infinite forwards;
    }

    .loader::after {
        top: 16px;
        left: 16px;
        width: 160px;
        height: 160px;
        border-top: 2px solid yellowgreen;
        animation: spin 1s linear infinite forwards;
    }

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Progress Circle */
small, .small {
    font-size: 125%;
}

.progress .progress-label:before {
    font-size: 10px;
    margin-top: 12px;
    margin-right: -25px;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 500px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    margin-left: 25px;
}

[type="search"] {
    height: 35px;
    margin-right: 20px;
}

.table th, .table td {
    padding: 0.2rem 0.5rem;
}

body {
    font-size: 10px;
}

html body .content .content-wrapper .content-header-title {
    color: #121213;
    margin-right: 1rem;
    border-right: 1px solid #1a1a1b;
}


table {
    overflow: hidden;
}

tr:hover {
    background-color: #ffa;
}

td, th {
    position: relative;
}

    td:hover::after,
    th:hover::after {
        content: "";
        position: absolute;
        background-color: #ffa;
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
    }

/* Progress Circle */